<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Projects?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        These are research projects from Biological Anthropology at Freiburg University. You can only access public datasets, unless you are a project member. If you want to contact us about a project, look at the respective 'About' tab to find out who is project administrator.
      {% endtrans %}
    </p>
  </div>
</div>
